<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <link th:href="@{/css/main.css}" rel="stylesheet" />
        <title>
            Home
        </title>
    </head>
    <body>
        <div id="container">
            <div id="header" th:if="${param.error} or ${param.msg}">
                <div class="modal_content" id="modal_header">
                        <div th:if="${param.error}">
                             <p th:text = "${param.error}"></p>
                        </div>
                        <div th:if="${param.msg}">
                            <p th:text = "${param.msg}"></p>
                        </div>
                    <a class="close_button right">&times;</a>

                </div>
                <!-- "x" button functionality on header-->
                <script>
                    var modal= document.getElementById("header");
                    var close= document.getElementsByClassName("close_button")[0];
                    close.onclick= function(){
                        modal.style.display="none";
                    };
                </script>
            </div>
            <div id="body">
                <h1>
                    ZPĚVNÍK
                </h1>
                    <nav class="site_nav">
                        <div id="nav_list">
                            <a th:href="@{/songs}">Zpěvník</a>
                            <a th:href="@{/user/register}">Registrovat</a>
                            <div class="right" id="login_list">
                                <!--Login form-->
                                <form sec:authorize="!isAuthenticated()"
                                      th:action="@{/user/login}"
                                      method="post">
                                    <input 
                                        type="hidden" 
                                        th:name="${_csrf.parameterName}" 
                                        th:value="${_csrf.token}" />
                                    <div><label> Username : <input type="text" name="username"/> </label></div>
                                    <div><label> Password: <input type="password" name="password"/> </label></div>
                                    <div><input type="submit" value="Sign In"/></div>
                                </form>
                                <!--Logout form-->
                                <form sec:authorize="isAuthenticated()"
                                      th:action="@{/user/logout}" 
                                      method="post">
                                    <div><input type="submit" value="Sign Out"/></div>
                                </form>
                            </div>
                        </div>
                    </nav>
                <div class="web_content">
                    <div class="overflow">
                        <form sec:authorize="isAuthenticated()" th:action="@{songBook/add/${song.id}}">
                            <input type="submit" value="Add song to Song book" name="add" />
                        </form>
                        <h2 th:text = "${song.name}"></h2>
                        <article th:text ="${song.text} " class="page content">
                        </article>
                    </div>
                </div>
            </div>
            <div id="footer">
                <footer>
                    <!-- author information -->
                    <p id="f_left">Autor: Adam Škarda</p>
                    <p id="f_center">Email: skardada:at:fel.cvut.cz</p>
                    <p id="f_right">&copy; 2021</p>
                </footer>
            </div>
        </div>
    </body>
</html>

